@model IFrameEditorModel

<div>
    <div id="@ViewBag.IdPrefix-tabs" class="tabs col-sm-7">
        <ul>
            <li><a href="#area-@ViewBag.IdPrefix-html-tab">HTML</a></li>
            <li><a href="#area-@ViewBag.IdPrefix-css-tab">CSS</a></li>
            <li><a href="#area-@ViewBag.IdPrefix-javascript-tab">JS</a></li>
        </ul>
        <div id="area-@ViewBag.IdPrefix-html-tab">
            <pre id="area-@ViewBag.IdPrefix-html">@Model.Html</pre>
        </div>
        <div id="area-@ViewBag.IdPrefix-css-tab">
            <pre id="area-@ViewBag.IdPrefix-css">@Model.Css</pre>
        </div>
        <div id="area-@ViewBag.IdPrefix-javascript-tab">
            <pre id="area-@ViewBag.IdPrefix-javascript">@Model.Javascript</pre>
        </div>
    </div>
    <iframe id="frame-@ViewBag.IdPrefix-result" class="col-sm-5" src="/home/blank"></iframe>
</div>